/*
color palette
#fdcd06	(253,205,6) yellow
#b9c92f	(185,201,47) puke green
#bf0f0f	(191,15,15) intense red
#165fc5	(22,95,197) darkish blue
#11709f	(17,112,159) lighter blue
*/

@font-face {
    font-family: tng-text; 
    src: url(../fonts/Final_Frontier.ttf);
}
@font-face {
    font-family: federation; 
    src: url(../fonts/TNG_Title.ttf);
}

body {
    background-image: url(../images/stars.gif);
    font-family: tng-text;
    box-sizing: border-box;
}

h1 {
    color: #0099f6;
    font-size: 75px;
    font-family: federation;
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #fdcd06;
    font-weight: bold;
    font-size: 60px;
    text-align:center;
}

img {
    height: 200px;
    margin: 30px 30px 5px 30px;
}

.tablet {
    width: 850px;
    padding-top: 10px;
    margin: 20px auto;
    background-color: #bf0f0f;
    height: 700px;
    border-top-left-radius: 100px 40px;
    display: flex;
}

.left-column {
    width: 20%;
    height: 600px;
    margin-top: 100px;
    overflow: hidden;
}

.your-player, .your-opponents, .your-score, .opponents-score, .opponents-remaining {
    text-align: right;
    border-top: 1px solid black;
    padding: 5px;
}

.your-player {
    background-color: #fdcd06;
    height: 175px;
}

.your-score {
    background-color: #b9c92f;
}

.your-opponents {
    background-color: #11709f;
    height: 175px;
}

.opponents-score {
    background-color: #165fc5;
}

.opponents-remaining {
    display:flex;
    flex-wrap: wrap;
}

.main-screen {
    border-top-left-radius: 100px 40px;
    background-color: black;
    width: 80%;
    height: 680px;
    padding: 20px 0 0 30px;
    color:#fdcd06;
}

.your-player img, .your-opponents img {
    border-radius: 50%;
    max-width: 50px;
}

.choiceBox {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    justify-content: center;
    text-align: center;
 } 

 .characterPick {
     max-width: 60%;
 }

.left-column img {
    max-height:50px;
    max-width: 50px;
    margin: 0;
    padding: 10px;
}

.proceedButton {
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: #165fc5;
    background-color: #fdcd06;
    font-family: tng-text;
    border: 2px outset #165fc5;
    margin: 40px;
    font-weight: bold;
}